{% extends 'base.html' %}
{% block header %}
<style>
    .table-row {
        cursor: pointer;
    }
</style>

{% endblock %}
{% block content %}
<div class="table-responsive">
    <form method="post">
        <button type="submit" class="btn btn-outline-danger btn-sm">Remove selected</button>
        <a class="btn btn-outline-success btn-sm" href="{{ url_for('add_device')}}" role="button">Add new</a>

        <table class="table table-striped table-sm mt-3">
            <thead>
            <tr>
                <th class="active">
                    <input type="checkbox" class="select-all checkbox" name="select-all"/>
                </th>
                <th>Name</th>
                <th>IP</th>
                <th>Role</th>
                <th>Is Open</th>
            </tr>
            </thead>
            <tbody>

            {% for device in devices %}
            <tr class="table-row" data-href="{{ url_for('change_device', _id=device['_id']) }}">
                <td>
                    <input type="checkbox" class="select-item checkbox" name="{{device['_id']}}" value="{{device['_id']}}"/>
                </td>
                <td data-href="{{ url_for('change_device', _id=device['_id']) }}">{{device['name']}}</td>
                <td data-href="{{ url_for('change_device', _id=device['_id']) }}">{{device['ip']}}</td>
                <td data-href="{{ url_for('change_device', _id=device['_id']) }}">{{device['role']}}</td>
                <td data-href="{{ url_for('change_device', _id=device['_id']) }}">{{device['is_open']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<script>
    $(function () {

        //button select all or cancel
        $("#select-all").click(function () {
            var all = $("input.select-all")[0];
            all.checked = !all.checked
            var checked = all.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });
        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });
        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            all.checked = len === total;
        });

    });
    $('tbody td').on('click', function () {
        // what do you need here?
        var dataTag = $(this).data("href");
        console.log(dataTag);
        if (dataTag != undefined) {
            window.document.location = dataTag
        }
    });
</script>
{% endblock %}